/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Additional styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: bg-primary;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

@media (min-width: 768px) {
  .sm-show {
    display: block;
  }
}

.input {
  width: 100%; /* Initially set to full width */
  max-width: 300px; /* Set a maximum width */
  padding: 10px;
  margin-right: 10px; /* Add some margin */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .input {
    max-width: 200px; /* Adjust maximum width for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .input {
    max-width: 150px; /* Further adjust maximum width for very small screens */
  }
}